watch_file bazel-out/bazel_env-opt/bin/tools/bazel_env/bin
PATH_add bazel-out/bazel_env-opt/bin/tools/bazel_env/bin
if [[ ! -d bazel-out/bazel_env-opt/bin/tools/bazel_env/bin ]]; then
  log_error "ERROR[bazel_env.bzl]: Run 'bazel run //tools:bazel_env' to regenerate bazel-out/bazel_env-opt/bin/tools/bazel_env/bin"
fi
